@charset "UTF-8";
.bride-item.layout-1.right {
    margin-left: 300px
}

/* .bride-item.layout-1.right .img_in {
  width: 220px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, .2);
  margin-left: -260px;
  float: left
}

.bride-item.layout-1.right .img_in img {
  border-radius: 50%
} */

.bride-item.layout-1.right .content {
    padding: 35px 0
}

.bride-item.layout-1.right h2.name {
    font-family: Merienda, cursive;
    font-size: 22px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 700
}

.bride-item.layout-1.right .discription {
    font-size: 15px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 500
}

.bride-item.layout-1.left {
    margin-right: 300px;
    text-align: right;
    position: relative
}

.bride-item.layout-1.left .line {
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, .3);
    position: absolute;
    right: -315px;
    top: -40px
}

.bride-item.layout-1.left .line .fa {
    display: block;
    color: #fff;
    background-color: #a93673;
    padding: 8px;
    width: 40px;
    margin-top: 135px;
    margin-left: -18px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .2);
    margin-right: 6px;
    animation: beat .9s infinite alternate;
    transform-origin: center
}

/* .bride-item.layout-1.left .img_in {
  width: 220px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, .2);
  margin-right: -260px;
  float: right
} */

.bride-item.layout-1.left .img_in img {
    border-radius: 50%
}

.bride-item.layout-1.left .content {
    padding: 35px 0
}

.bride-item.layout-1.left h2.name {
    font-family: Merienda, cursive;
    font-size: 22px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 700
}

.bride-item.layout-1.left .discription {
    font-size: 15px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 500
}

.top-effect-ba {
    height: 91px;
    background-size: cover;
    position: absolute;
    display: block;
    top: -91px;
    width: 100%
}

.top-effect-ba-2 {
    height: 90px;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    width: 100%
}

.bottom-effect-ba {
    height: 49px;
    background-size: cover;
    position: absolute;
    display: block;
    bottom: -49px;
    width: 100%
}

.bottom-effect-ba-2 {
    height: 51px;
    background-size: cover;
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%
}

ul.time-line.layout-1 {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative
}

ul.time-line.layout-1:before {
    content: " ";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    border-right: 1px solid #fd1c56;
    bottom: 210px
}

ul.time-line.layout-1:after {
    content: " ";
    display: block;
    width: 100%;
    clear: both
}

ul.time-line.layout-1 li {
    width: 51%;
    list-style: none;
    margin-bottom: 70px;
    float: right
}

ul.time-line.layout-1 li .story-item {
    margin-left: 155px;
    position: relative;
    margin-right: 75px
}

ul.time-line.layout-1 li .story-item:after {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fd1c56;
    position: absolute;
    top: 40px;
    left: -151px
}

ul.time-line.layout-1 li .story-item .icon {
    width: 85px;
    position: absolute;
    left: -280px;
    top: 0
}

ul.time-line.layout-1 li .story-item .date {
    font-size: 12px;
    font-weight: 500;
    color: #fd1c56
}

ul.time-line.layout-1 li .story-item h3.title {
    font-weight: 700;
    font-size: 22px;
    color: #353535;
    margin-bottom: 12px;
    font-family: Merienda, cursive
}

ul.time-line.layout-1 li .story-item .img_in {
    width: 90px;
    border: 8px solid #efeaea;
    border-radius: 50%;
    margin-left: -115px;
    float: left
}

ul.time-line.layout-1 li .story-item .img_in img {
    border-radius: 50%
}

ul.time-line.layout-1 li .story-item .discription {
    font-size: 13px;
    color: #868485;
    font-weight: 400
}

ul.time-line.layout-1 li:nth-child(even) {
    width: 51%;
    list-style: none;
    margin-bottom: 70px;
    float: left;
    text-align: right
}

ul.time-line.layout-1 li:nth-child(even) .story-item {
    margin-right: 155px;
    position: relative;
    margin-left: 75px
}

ul.time-line.layout-1 li:nth-child(even) .story-item:after {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fd1c56;
    position: absolute;
    top: 40px;
    right: -151px;
    left: auto
}

ul.time-line.layout-1 li:nth-child(even) .story-item .icon {
    width: 85px;
    position: absolute;
    right: -280px;
    left: auto;
    top: 0
}

ul.time-line.layout-1 li:nth-child(even) .story-item .date {
    font-size: 12px;
    font-weight: 500;
    color: #fd1c56
}

ul.time-line.layout-1 li:nth-child(even) .story-item h3.title {
    font-weight: 700;
    font-size: 22px;
    color: #353535;
    margin-bottom: 12px
}

ul.time-line.layout-1 li:nth-child(even) .story-item .img_in {
    width: 90px;
    border: 8px solid #efeaea;
    border-radius: 50%;
    margin-right: -115px;
    float: right
}

ul.time-line.layout-1 li:nth-child(even) .story-item .img_in img {
    border-radius: 50%
}

ul.time-line.layout-1 li:nth-child(even) .story-item .discription {
    font-size: 13px;
    color: #868485;
    font-weight: 400
}

ul.time-line.layout-1 li:last-child {
    margin-bottom: 0
}

.wedding-date.layout-1 {
    text-align: center
}

.wedding-date.layout-1 h2.date {
    font-size: 109px;
    font-weight: 700;
    line-height: .8;
    margin-bottom: 40px
}

.wedding-date.layout-1.light {
    color: #fff
}

.page-title {
    position: relative;
    text-align: center
}

.page-title.layout-1 {
    padding: 200px 0;
    color: #fff
}

.page-title.layout-1 h1.title {
    font-size: 55px;
    font-family: Merienda, cursive;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -2px
}

.page-404.layout-1 {
    text-align: center;
    max-width: 620px;
    margin: auto
}

.page-404.layout-1 h2.title-404 {
    font-size: 100px;
    font-family: Merienda, cursive;
    font-weight: 700;
    line-height: 1.2;
    color: #a93673
}

.page-404.layout-1 h3 {
    color: #a93673;
    font-family: Merienda, cursive
}

.page-404.layout-1 p {
    font-weight: 500;
    margin: 25px auto 25px auto
}

.home-welcome {
    padding: 30px 0
}

.home-welcome .output {
    margin: auto;
    padding: 0 30px;
    text-align: center
}

.home-welcome .output .effect {
    width: 300px;
    margin: auto
}

.home-welcome .output .content {
    margin: 20px auto
}

.home-welcome .output .content h3 {
    font-size: 30px;
    font-family: Merienda, cursive;
    font-family: 'Tillana', cursive !important;
    color: #fff;
    line-height: 40px;
    letter-spacing: -3px
}

.home-welcome .output .content h2 {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 80px;
    margin-bottom: 30px;
    margin-top: 30px
}

.home-welcome .output .content a.invitation-bot {
    display: block;
    width: 80px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-family: Merienda, cursive;
    border-radius: 30px;
    color: #fd1c56;
    font-weight: 700;
    font-size: 60px
}

.home-welcome .output .content a i {
    animation: beat .9s infinite alternate;
    transform-origin: center
}

.logo-sec img {
    width: 300px
}

.logo-footer img {
    width: 300px
}

.section-title.layout-1 h2.title {
    font-family: Merienda, cursive;
    font-size: 40px;
    line-height: 50px;
    padding: 15px 0;
    font-weight: 600;
}

.our-date.text-white {
    font-family: Merienda, cursive;
    font-size: 40px;
    line-height: 50px;
    padding: 0px 0;
    font-weight: 600;
}

@keyframes beat {
    to {
        transform: scale(1.4)
    }
}

footer.layout-1 .output {
    background-color: #493e55
}

footer.layout-1 .footer-about {
    text-align: center;
    color: #fff;
    font-weight: 500;
    float: none;
    display: block
}

footer.layout-1 .footer-about .text {
    margin: 30px
}

footer.layout-2 {
    background-color: #555
}

footer.layout-3 {
    background-color: #fff;
    border-top: 1px solid #eee
}

body {
    font-family: Poppins;
    font-size: 14px;
    line-height: 25px;
    background-color: #fafafa;
    position: relative
}

img {
    max-width: 100%
}

* {
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s
}

a {
    color: #000;
}

a:hover {
    text-decoration: none
}

a:focus {
    outline: 0;
    text-decoration: none
}

.btn,
a:active,
button:active {
    outline: 0;
    text-decoration: none
}

.btn:active,
.btn:focus {
    outline: 0 !important;
    box-shadow: none
}

.h1,
h1 {
    font-size: 28px;
    line-height: 32px
}

.h2,
h2 {
    font-size: 23px;
    line-height: 28px
}

.h3,
h3 {
    font-size: 20px;
    line-height: 27px
}

.h4,
h4 {
    font-size: 17px;
    line-height: 21px
}

.h5,
h5 {
    font-size: 16px;
    line-height: 20px
}

.h6,
h6 {
    font-size: 13px;
    line-height: 16px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins;
    font-weight: 500
}

.font-2 {
    font-family: Poppins
}

.font-3 {
    font-family: Merienda, cursive
}

video {
    background-size: cover;
    width: 100%;
    display: table-cell;
    vertical-align: middle
}

.container-all {
    max-width: 80%;
    margin: auto
}

.section-ba-1 {
    background-color: #f1f9ff
}

.section-ba-3 {
    background-color: #edf0d6
}

.section-ba-4,
.section-ba-2 {
    background-color: #f3f3f3
}

#page-title {
    background-size: cover
}

.save-date .date {
    font-family: Dosis;
    font-size: 82px
}

.save-date ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px
}

.save-date ul li {
    margin: 8px auto
}

.background-main-color {
    background-color: #a93673
}

.background-main-color-2 {
    background-color: #ff111f
}

.background-second-color {
    background-color: #fd1c56
}

.background-white {
    background-color: #fff
}

.background-img-white:after {
    background-color: #fff
}

.background-img-main-color:after {
    background-color: #a93673
}

.background-img-second-color:after {
    background-color: #fd1c56
}

.text-main-color {
    color: #a93673
}

.text-second-color {
    color: #fd1c56
}

.text-white,
.text-white a {
    color: #fff
}

.box-shadow {
    -webkit-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .1)
}

.box-shadow-hover {
    box-shadow: none
}

.box-shadow-hover:hover {
    -webkit-box-shadow: 0 0 18px -8px #858585;
    box-shadow: 0 0 18px -8px #858585
}

.position-absolute {
    position: absolute
}

.position-relative {
    position: relative
}

.overflow-hidden {
    overflow: hidden
}

.map-ba {
    background-image: url(../images/map_ba.png);
    background-position: left top;
    background-repeat: no-repeat
}

section .section-title {
    text-align: center;
    margin-bottom: 60px
}

section .section-title h1 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    color: #f68119
}

section .section-title h1 span {
    color: #a93673
}

section .section-title-left {
    text-align: left
}

.owl-theme .owl-controls .owl-page span {
    border-radius: 0;
    margin: 10px 10px 10px 0;
    border-radius: 15px;
    background-color: #fd1c56;
    border: 1px solid #fd1c56
}

ul.soon-list {
    padding: 0;
    margin: 0;
    list-style: none
}

ul.soon-list li {
    display: inline-block;
    margin: 0
}

ul.soon-list li span {
    display: block;
    text-transform: uppercase;
    font-size: 14px
}

.border-top-1 {
    border-top: solid 1px
}

ul.list-style-1 {
    list-style: none
}

ul.list-style-1 li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eeeded
}

ul.list-style-1 li:before {
    content: "\f192";
    font-family: FontAwesome;
    color: #9e9e9e;
    margin-right: 5px;
    display: inline-block
}

.border-top-2 {
    border-top: solid 2px
}

ul.list-style-2 {
    list-style: none
}

ul.list-style-2 li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eeeded
}

ul.list-style-2 li:before {
    content: "\f192";
    font-family: FontAwesome;
    color: #9e9e9e;
    margin-right: 5px;
    display: inline-block
}

.border-top-3 {
    border-top: solid 3px
}

ul.list-style-3 {
    list-style: none
}

ul.list-style-3 li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eeeded
}

ul.list-style-3 li:before {
    content: "\f192";
    font-family: FontAwesome;
    color: #9e9e9e;
    margin-right: 5px;
    display: inline-block
}

.border-top-4 {
    border-top: solid 4px
}

ul.list-style-4 {
    list-style: none
}

ul.list-style-4 li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eeeded
}

ul.list-style-4 li:before {
    content: "\f192";
    font-family: FontAwesome;
    color: #9e9e9e;
    margin-right: 5px;
    display: inline-block
}

.border-top-5 {
    border-top: solid 5px
}

ul.list-style-5 {
    list-style: none
}

ul.list-style-5 li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eeeded
}

ul.list-style-5 li:before {
    content: "\f192";
    font-family: FontAwesome;
    color: #9e9e9e;
    margin-right: 5px;
    display: inline-block
}

.border-top-6 {
    border-top: solid 6px
}

ul.list-style-6 {
    list-style: none
}

ul.list-style-6 li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eeeded
}

ul.list-style-6 li:before {
    content: "\f192";
    font-family: FontAwesome;
    color: #9e9e9e;
    margin-right: 5px;
    display: inline-block
}

.border-top-7 {
    border-top: solid 7px
}

ul.list-style-7 {
    list-style: none
}

ul.list-style-7 li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eeeded
}

ul.list-style-7 li:before {
    content: "\f192";
    font-family: FontAwesome;
    color: #9e9e9e;
    margin-right: 5px;
    display: inline-block
}

.border-top-8 {
    border-top: solid 8px
}

ul.list-style-8 {
    list-style: none
}

ul.list-style-8 li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eeeded
}

ul.list-style-8 li:before {
    content: "\f192";
    font-family: FontAwesome;
    color: #9e9e9e;
    margin-right: 5px;
    display: inline-block
}

.border-top-9 {
    border-top: solid 9px
}

ul.list-style-9 {
    list-style: none
}

ul.list-style-9 li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eeeded
}

ul.list-style-9 li:before {
    content: "\f192";
    font-family: FontAwesome;
    color: #9e9e9e;
    margin-right: 5px;
    display: inline-block
}

.border-top-10 {
    border-top: solid 10px
}

ul.list-style-10 {
    list-style: none
}

ul.list-style-10 li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eeeded
}

.timeline-item .date {
    position: relative;
    margin-top: 5px
}

.timeline-item .date:before {
    font-family: "Font Awesome 5 Solid";
    content: "\f111";
    display: none
}

.timeline-item .date .svg-inline--fa {
    font-size: 20px;
    position: absolute;
    top: -3px;
    right: -10px;
    color: #a93673
}

@-webkit-keyframes color-fade {
    0% {
        background: #9a5342
    }
    25% {
        background: #81b441
    }
    50% {
        background: #e46d00
    }
    75% {
        background: #ff3506
    }
    100% {
        background: #9a5342
    }
}

@-moz-keyframes color-fade {
    0% {
        background: #9a5342
    }
    25% {
        background: #81b441
    }
    50% {
        background: #e46d00
    }
    75% {
        background: #ff3506
    }
    100% {
        background: #9a5342
    }
}

@keyframes color-fade {
    0% {
        background: #9a5342
    }
    25% {
        background: #81b441
    }
    50% {
        background: #e46d00
    }
    75% {
        background: #ff3506
    }
    100% {
        background: #9a5342
    }
}

th {
    font-weight: 700
}

@media only screen and (max-width:991px) {
    .home-welcome {
        padding: 20px 0 100px
    }
    .home-welcome .output .effect {
        width: 200px;
        margin: auto
    }
    .home-welcome .output .content h3 {
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0;
    }
    .home-welcome .output .content h2 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 45px;
        margin-bottom: 0px
    }
    .save-date .date {
        font-family: Dosis;
        font-size: 40px
    }
    #top-section h2.title,
    .nile-title.layout-1 h2,
    .page-title.layout-1 h1.title {
        font-size: 30px !important;
        line-height: 40px
    }
    #top-section ul.section {
        display: none
    }
    .page-title.layout-1 {
        padding: 100px 0
    }
    .nile-title.layout-1 {
        margin-bottom: 25px
    }
    header.sm-ba-main {
        background-color: #a93673
    }
    .page-title.layout-1 h1 {
        float: none;
        display: block;
        text-align: center
    }
    .icon-text.layout-1 {
        margin-bottom: 40px;
        background-color: #fff;
        padding: 30px;
        border: 1px solid #eee
    }
    ul.time-line.layout-1:before {
        display: none
    }
    ul.time-line.layout-1 li,
    ul.time-line.layout-1 li:nth-child(even) {
        width: 100%;
        margin-bottom: 40px;
        float: none;
        display: block;
        text-align: center
    }
    ul.time-line.layout-1 li .story-item,
    ul.time-line.layout-1 li:nth-child(even) .story-item {
        margin-left: 0;
        margin-right: 0
    }
    ul.time-line.layout-1 li .story-item:after,
    ul.time-line.layout-1 li:nth-child(even) .story-item:after {
        display: none
    }
    ul.time-line.layout-1 li .story-item .icon,
    ul.time-line.layout-1 li:nth-child(even) .story-item .icon {
        width: 85px;
        margin: auto;
        left: 0;
        top: 0;
        display: none
    }
    ul.time-line.layout-1 li .story-item .date,
    ul.time-line.layout-1 li:nth-child(even) .story-item .date {
        font-size: 12px;
        font-weight: 500;
        color: #fd1c56
    }
    ul.time-line.layout-1 li .story-item h3.title,
    ul.time-line.layout-1 li:nth-child(even) .story-item h3.title {
        font-weight: 700;
        font-size: 22px;
        color: #353535;
        margin-bottom: 12px
    }
    ul.time-line.layout-1 li .story-item .img_in,
    ul.time-line.layout-1 li:nth-child(even) .story-item .img_in {
        width: 90px;
        border: 8px solid #efeaea;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block
    }
    ul.time-line.layout-1 li .story-item .img_in img,
    ul.time-line.layout-1 li:nth-child(even) .story-item .img_in img {
        border-radius: 50%
    }
    .bride-item.layout-1.left,
    .bride-item.layout-1.right {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        margin-bottom: 30px
    }
    /* .bride-item.layout-1.left .img_in,
  .bride-item.layout-1.right .img_in {
    width: 220px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, .2);
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block
  } */
    .bride-item.layout-1.left .img_in img,
    .bride-item.layout-1.right .img_in img {
        border-radius: 50%
    }
    .bride-item.layout-1.left .content,
    .bride-item.layout-1.right .content {
        padding: 0 0
    }
    .bride-item.layout-1.left h2.name,
    .bride-item.layout-1.right h2.name {
        font-family: Merienda, cursive;
        font-size: 22px;
        color: #fff;
        margin-bottom: 0;
        font-weight: 700
    }
    .bride-item.layout-1.left .discription,
    .bride-item.layout-1.right .discription {
        font-size: 15px;
        color: #fff;
        margin-bottom: 15px;
        font-weight: 500
    }
    .bride-item.layout-1.left .line {
        display: none
    }
    .wedding-date.layout-1 h2.date {
        font-size: 35px
    }
}

@media only screen and (max-width:450px) {
    .section-title .h2:before {
        display: none
    }
    .section-title .h2:after {
        display: none
    }
}

.tagline .our-date {
    font-size: 25px;
    margin: 95px 0 0
}

.sub-head {
    font-size: 18px;
    line-height: 28px;
    margin: 20px 0 0;
    font-weight: 100;
    color: #868485;
    font-style: italic
}

@media (max-width:767px) {
    .home-welcome .output .content a.invitation-bot {
        height: 40px;
        font-size: 50px
    }
    .our-date {
        font-size: 35px
    }
    .tagline .our-date {
        font-size: 21px;
        margin: 65px 0 0
    }
    .section-ba-2 {
        background-image: url(../images/savethedate-bg.jpg) !important;
        background-position: center center;
        padding: 50px 0 70px !important
    }
}

#snow {
    background: 0 0;
    background-image: url(../images/s1.png), url(../images/s2.png), url(../images/s3.png);
    height: 100%;
    left: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite
}

@keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px
    }
    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px
    }
}

@media (max-width:990px) {
    .soon-list li {
        width: 150px !important;
        font-size: 40px !important
    }
}

@media (max-width:767px) {
    .soon-list li {
        width: 50% !important;
        font-size: 30px !important
    }
}